<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">

    {% seo %}

		<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	</head>
	<body class="flex">
		<div class="flex-1 flex flex-row-reverse">
		</div>
		<div class="w-full md:w-[50rem]">
			<header class="mx-auto w-full text-white">
          <div class="pl-6 bg-blue-900 items-center">
								<img src="{{'/assets/images/constructor_logo_extended_transparent.png' | relative_url}}" alt="{{site.title}}" class="h-auto align-middle" style="height: 5em;">
          </div>
				<ul class="pl-6 bg-blue-900 h-16 flex items-center gap-6">
					<li>
						<a href="{{ "/" | relative_url }}">Home</a>
					</li>
          {% for nav in site.cicse.nav_links %}
            <li>
              <a href="{{ nav.link | relative_url }}">{{ nav.title }}</a>
            </li>
          {% endfor %}
				</ul>
			</header>

      {{ content }}

			{% if page.previous or page.next %}
				<div class="flex w-[40rem] mx-auto mt-10 mb-10">
					{% if page.previous %}
						<a
							href="{{ page.previous.url | relative_url }}"
										class="block flex-1 text-blue-900 hover:text-blue-600 mr-4"
						>
							← Previous page <br>
							<span class="font-bold">{{ page.previous.title }}</span>
						</a>
					{% else %}
						<div></div>
					{% endif%}

					{% if page.previous and page.next %}
						<div class="w-[1px] self-center h-6 bg-blue-900"></div>
					{% endif %}

					{% if page.next %}
						<a
							href="{{ page.next.url | relative_url }}"
										class="block flex-1 text-blue-900 hover:text-blue-600 text-right ml-4"
						>
							Next page → <br>
							<span class="font-bold">{{ page.next.title }}</span>
						</a>
					{% else %}
						<div></div>
					{% endif %}
				</div>
			{% endif %}
		</div>

		<div class="flex-1"></div>
  </body>
</html>
