<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8">

    {% seo %}

		<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	</head>
	<body class="flex">
    <div class="flex-1 flex flex-row-reverse">
      {% assign col = site.collections | where: "label", page.collection | first %}
      {% if page.collection and page.collection != 'posts' and col.disable_menu != true %}
        <nav class="hidden xl:block w-[16rem]">
          <div class="h-20 bg-gradient-to-tl from-blue-50"></div>
          <ul class="bg-gradient-to-bl from-blue-50 pb-6">
            {% assign pages = site[page.collection] %}
            {% if col.reverse_navigation %}
              {% assign pages = pages | reverse %}
            {% endif %}
            {% for p in pages %}
              <li>
                {% unless p == page %}
                  <a
                    href="{{ p.url | relative_url }}"
                    class="min-h-8 block flex items-center hover:bg-blue-100 visited-revert
                          {% if p.is_index %} pl-2 font-bold
                          {% else %} pl-4
                          {% endif %}
                          "
                  >
                    {{ p.title }}
                  </a>
                {% else %}
                  <span class="min-h-8 flex items-center bg-blue-100 align-middle
                               {% if p.is_index %} pl-2 font-bold
                               {% else %} pl-4
                               {% endif %}
                               ">
                    {{ p.title }}
                  </span>
                {% endunless %}
              </li>
            {% endfor %}
          </ul>
        </nav>
      {% endif %}
    </div>
    <div class="w-full md:w-[50rem]">
      <header class="mx-auto w-full text-white bg-navy-blue p-2">
        <a href="https://institute.constructor.org/">
          <img
            src="{{'/assets/images/C_IT_Logo_White_On_Transparent-cropped-min.svg' | relative_url}}"
            alt="Constructor Institute of Technology"
            class="h-3.5 block"
          >
        </a>

        {% if site.cicse.parent %}
          <div class="mt-2">
            <a href="{{ site.cicse.parent.link }}" class="text-lg">
              ← {{ site.cicse.parent.name }}
            </a>
          </div>
        {% endif %}

        <a href="{{ "/" | relative_url }}" class="text-2xl my-2 inline-block">
          {{ site.title }}
          {% if site.tagline %}
            — {{ site.tagline }}
          {% endif %}
        </a>
        <ul class="flex items-center gap-6">
            <li>
                <a href="{{ "/" | relative_url }}">Home</a>
            </li>
            {% for nav in site.cicse.nav_links %}
                <li>
                    <a href="{{ nav.link | relative_url }}">{{ nav.title }}</a>
                </li>
            {% endfor %}
        </ul>
      </header>

      <div class="p-2">
        {{ content }}

        {% if page.previous or page.next %}
          {% unless col.reverse_navigation %}
            {% assign prev = page.previous %}
            {% assign next = page.next %}
          {% else %}
            {% assign prev = page.next %}
            {% assign next = page.previous %}
          {% endunless %}
          <div class="md:flex md:w-[40rem] mx-auto mt-10 mb-10">
            {% if prev %}
              <a
                href="{{ prev.url | relative_url }}"
                class="block flex-1 base-link"
              >
                <span class="font-normal">← Previous page</span><br>
                {{ prev.title }}
              </a>
            {% else %}
              <div></div>
            {% endif %}

            {% if prev and next %}
              <div class="hidden md:block w-[1px] self-center h-6 bg-navy-blue"></div>
            {% endif %}

            {% if next %}
              <a
                href="{{ next.url | relative_url }}"
                class="block flex-1 base-link text-right"
              >
                <span class="font-normal">Next page →</span><br>
                {{ next.title }}
              </a>
            {% else %}
              <div></div>
            {% endif %}
          </div>
        {% endif %}
      </div>

		</div>

		<div class="flex-1"></div>
  </body>
</html>
