---
layout: default
---

<main class="max-w-prose mx-auto">
  <div class="text-2xl text-graphene-black mt-6">
    {{ content }}
  </div>

  <h2 class="text-navy-blue text-3xl mt-8 font-bold mb-2">
    News
  </h2>

  <ul>
    {% for p in site.posts %}
      <li>
        <a
          href="{{ p.url | relative_url }}"
          class="text-navy-blue visited-revert block"
        >
          <h3 class="text-2xl">{{ p.title }}</h3>
        </a>
        <div class="mb-2">
          {{ p.date | date_to_long_string: "ordinal", "US" }}
        </div>

        <div class="prose">
          {{ p.excerpt | markdownify }}
        </div>
      </li>
    {% endfor %}
  </ul>
</main>
